<div class="container">
  <div class="row mt-4">
    <div class="col-sm-12">
      <button class="btn btn-outline-primary" (click)="openDialog()">Subscribe Apis</button>
    </div>
  </div>
  @if(filteredEndpointCards.data.length && filteredEndpointCards.data.length>0){
  <div class="row mt-3">
    <table mat-table [dataSource]="filteredEndpointCards" class="mat-elevation-z8">
      <ng-container matColumnDef="Api Name">
        <th mat-header-cell *matHeaderCellDef> Api Name </th>
        <td mat-cell *matCellDef="let element"> {{element.apiName}} </td>
      </ng-container>

      <!-- Name Column -->

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> Lifecycle State </th>
        <td mat-cell *matCellDef="let element"> 1.0 </td>
      </ng-container>
      <ng-container matColumnDef="plan">
        <th mat-header-cell *matHeaderCellDef> Business Plan </th>
        <td mat-cell *matCellDef="let element"> plan1 </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Subscription Status </th>
        <td mat-cell *matCellDef="let element"> Subscribed </td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-sm btn-outline-danger" (click)="unsubscribeApplication(element.id)">
            Unsubscribe
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  }
  @else {
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center align-items-center">
      <h1>Subscribed Apis are not available.Subscribe</h1>
    </div>
  </div>

  }

</div>