.api-card-below {
    padding: 20px;
}

.api-card-below h2 {
    margin-bottom: 0px;
}

.api-card-above {
    height: 40%;
    cursor: pointer;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(to bottom, rgba(6, 68, 119, 1), rgba(11, 126, 221, 1));
}

.api-card {
    height: 300px;
    border-radius: 10px;
    border: 1px solid lightgray;
    /* cursor: pointer; */
    /* width:290px; */
    /* padding:20px; */
}

.status-button {
    height: 35px;
    width: 150px;
    background-color: rgba(205, 228, 243, 1);
    color: rgba(49, 121, 165, 1);
    border: none;
    outline: none;
    border-radius: 20px;
}

.consumer-width{
    width: 60%;
    cursor: pointer;
}
.username-width{
    width: 100%;
}