.form-width {
    width: 65%
}

.parameter-item {
    display: flex;
    align-items: center;
    margin-left: 5px;
    background-color: white;
    color: black;
    border-radius: 8px;
    border: 2px solid rgba(151, 71, 255, 1);
    padding: 0px 12px 0px 12px;
}

.parameter-item mat-icon {
    font-size: 16px;
}

.checkBox-label {
    height: 1.2rem;
    width: 1.2rem;
    margin-inline-end: 0.5rem;
}